:root {
  font-family: Consolas, Lucida Console, monospace;
  font-size: 20px;
  font-weight: 400;
  color: #0f0f0f;
  line-height: 1.2rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0px !important;
  margin: 0px !important;
}
body {
  padding: 0px !important;
  margin: 10px !important;
}
main {
  background-color: #eee;
  height: calc(100vh - 20px);
  width: 70vw;
  overflow: auto;
  position: relative;
}
#sidepanel_wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: pink;
  width: calc(30vw - 18px);
  height: calc(100vh - 20px);
  cursor:default;
  font-size: 0.8em;
  line-height: 1em;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
}
#sidepanel {
  word-wrap: none;
  word-break: keep-all;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 300;
  position: absolute;
  top: 1.2rem;
  padding: 0;
  width: calc(30vw - 18px);
  height: calc(100vh - 1.2rem - 20px);
  overflow-y: auto;
  overflow-x: hidden;
}
#sidepanel > ul, #sidepanel > li{
  padding: 0.2rem 0 0.2rem 0.6rem !important;
  overflow-x: hidden !important;
  width: 20000px !important;
}
#sidepanel ul, #sidepanel li{
  cursor: pointer;
  padding: 0.1rem 0 0.15rem 1.3rem;
}
#sidepanel ul:not(#sidepanel>ul){
  border-left: 1px solid #e9e;
  margin-left: 0.3rem;
  padding-left: 1.1rem;
}
#sidepanel li[data-type="file"]::before{
  content: "🗋";
  position: relative;
  left: 0;
  top: 0rem;
  font-size: 1rem;
  padding-left: 1rem;
  margin-right: 0.5rem;
  margin-left: -1rem;
  border-left: 1px solid #e9e;
}
#sidepanel li[data-type="file"]::marker{
  content:"";
}
#sidepanel ul[data-type="dir"]::before{
  content: "v";
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 0.8rem;
  padding-left: 1rem;
  margin-right: 0.6rem;
  margin-left: -0.95rem;
}
#sidepanel ul[data-type="dir"][data-expanded="false"]::before{
  content: ">";
}
#sidepanel li:hover, #path:hover{
  background-color: rgba(250,250,250,0.6);
}
#sidepanel li.selected, #sidepanel li.selected:hover{
  background-color: rgba(250,250,250,0.9) !important;
}
#sidepanel ul:hover{
  background: linear-gradient(rgba(250,250,250,0.6) 0px, rgba(250,250,250,0.6) 1rem, rgba(0,0,0,0)1rem, rgba(0,0,0,0) 100%);
}
#sidepanel ul.selected, #sidepanel ul.selected:hover{
  background: linear-gradient(rgba(250,250,250,0.9) 0px, rgba(250,250,250,0.9) 1rem, rgba(0,0,0,0)1rem, rgba(0,0,0,0) 100%);
}
#path{
  background-color: red;
  cursor: pointer;
  width: calc(100% - 2rem);
}
#projects_button{
  background-color: orange;
  cursor: pointer;
  width: 2rem;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: center;
}
#projects{
  background-color: orange;
  top: 0rem;
  left:  100%;
  width: 100%;
  position: relative;
  transition: left 0.4s ease-in;
  z-index: 400;
  width: calc(30vw - 19px);
  height: calc(100vh - 1.2rem - 20px);
  overflow-y: auto;
  overflow-x: hidden;
}
#projects.expanded{
  background-color: orange;
  left: 1px;
}
#projects ul{
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
#projects.expanded ul{
  opacity: 1;
  transition: opacity 0.4s ease-in;
}
#tabs{
  background-color: black;
  cursor: default;
  line-height: 1.2rem !important;
}
#tabs > div {
  font-size: 0.8rem !important;
  border-radius: 6px 6px 0 0;
  background-color: grey;
  width: max-content;
  padding: 0rem 1.2rem 0 0.5rem;
  cursor: pointer;
  color: white;
}
#tabs > div.dot:after {
  content: '';
  cursor: pointer;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  background-color: white;
  right: 0.4rem;
  position: absolute;
  top: calc(50% - 0.2rem);
}
div {
  user-select: none;
  cursor: text;
  position: relative;
  padding: 0px;
  margin: 0px;
  min-height: 1.2rem;
}
#text {
  position: absolute;
  top: 1.2rem;
  left: 100px;
  z-index: 200;
}
#text div {
  white-space:pre;
}
.highlighted{
  background-color: rgba(200,200,200,0.5);
}
#benchmark {
  opacity: 1;
  position: absolute;
  color: red;
}
i {
  font-weight: bold;
  font-style: normal;
  position: absolute;
  opacity: 1;
  margin-top: 0;
  height: 1.2rem;
  min-width: 0.1rem;
  background-color: black;
  z-index: 100000;
  pointer-events: none;
}
.flashy {
  animation: 1s flash linear infinite;
}
@keyframes flash {
  0%,
  50% {
      opacity: 1;
  }
  51%,
  100% {
      opacity: 0;
  }
}

#drag_handle {
  cursor: ew-resize;
  position: absolute;
  top: 10px;
  left: calc(70vw + 2px);
  width: 14px;
  height: calc(100vh - 20px);
  z-index: 500;
  /*background-color: rgba(200,200,200,0.5);*/
}


#drag_handle div{
  cursor: ew-resize;
  display: block;
  position: relative;
  left: 2px;
  top: 0px;
  width: 5px;
  height: calc(100vh - 20px);
  background-color: royalblue;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

#drag_handle:hover div{
  opacity: 1;
}