:root {
  font-family: Consolas, Lucida Console, monospace;
  font-size: 20px;
  font-weight: 400;
  color: #0f0f0f;
  line-height: 1.2rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0px !important;
  margin: 0px !important;
}
body {
  padding: 0px !important;
  margin: 10px !important;
}
main {
  background-color: #eee;
  height: calc(100vh - 20px);
  width: 70vw;
  overflow: auto;
  position: relative;
}
#sidepanel_wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  width: calc(30vw - 30px);
  background-color: pink;
  height: calc(100vh - 20px);
  cursor:default;
  font-size: 0.8em;
  line-height: 1em;
  overflow:hidden;
}
#sidepanel {
  word-wrap: none;
  word-break: keep-all;
  width: 1000px;
  z-index: 300;
}
#sidepanel div{
  cursor: pointer;
  padding: 0.2rem 0;
}
#sidepanel div:hover, #path:hover{
  background-color: rgba(250,250,250,0.6);
}
.selected, .selected:hover{
  background-color: rgba(250,250,250,0.9) !important;
}
#path{
  background-color: red;
  cursor: pointer;
  padding: 0.2rem 0;
}
div {
  user-select: none;
  cursor: text;
  position: relative;
  padding: 0px;
  margin: 0px;
}
#text {
  position: absolute;
  top: 0px;
  left: 100px;
  z-index: 200;
}
#text div {
  white-space:pre;
}
.highlighted{
  background-color: rgba(200,200,200,0.5);
}
#benchmark {
  opacity: 1;
  position: absolute;
  color: red;
}
i {
  font-weight: bold;
  font-style: normal;
  position: absolute;
  opacity: 1;
  margin-top: 0;
  height: 1.2rem;
  min-width: 0.1rem;
  background-color: black;
  z-index: 100000;
  pointer-events: none;
}
.flashy {
  animation: 1s flash linear infinite;
}
@keyframes flash {
  0%,
  50% {
      opacity: 1;
  }
  51%,
  100% {
      opacity: 0;
  }
}