:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
main {
  border: 1px solid 666;
  background-color: #eee;
  min-height: calc(100vh - 80px);
  padding: 5px;
}
div {
  user-select: none;
  cursor: text;
  position: relative;
  padding: 0px;
  margin: 0px;
  min-height: 1.5rem;
}
div:hover {
  background-color: #ddd;
}
/* a character with a dot to the left for overlapping with adjacent-left character for ease of selection */
b {
  font-weight: normal;
  margin-left: -0.25em;
  position: relative;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
/* just the dot character inside the b above */
u {
  opacity: 0;
}
/* flashing caret */
i {
  font-weight: bold;
  font-style: normal;
  position: absolute;
  margin-top: 0.02rem;
  height: 1.5rem;
  margin-left: -0.05rem;
  width: 3px;
  background-color: green;
  animation: flash 1s linear infinite;
  z-index: 2000;
}
@keyframes flash {
  0%,
  50% {
      opacity: 1;
  }
  51%,
  100% {
      opacity: 0;
  }
}
.text {
  display: inline-block;
  /* todo fix hard-coded width with flexbox layout? */
  width: calc(100% - 150px);
  margin-left: 100px;
  position: relative;
  top: 0px;
}
.num {
  display: inline-block;
  position: absolute;
  top: 0px;
}